body {
    background: linear-gradient(180deg, rgba(0, 200, 0, 0.5), rgba(200, 220, 200, 0.6));
    font-family: Helvetica, Arial, sans-serif;
    height: 100vh;
}
h1{
    color: #fff;
    text-align: center;
}
